@model PropertyManagement.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateConstructed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateConstructed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeatIncluded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeatIncluded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsOccupied)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumOfBaths)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumOfBaths)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumOfBeds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumOfBeds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PropertyDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PropertyDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RentAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaterSewerIncluded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaterSewerIncluded)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.PropertyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
